.is-flex {
    display: flex;
}

.is-hidden {
    display: none;
}

.prev:before {
    content: "\00AB";
}

.next:after {
    content: "\00BB";
}

.next {
    margin-left: auto;
}

.monthyear {
    flex: 1;
    font-weight: 700;
    text-align: center;
    font-size: 2rem;
}

.columns {
    display: grid;
    grid-gap: 1rem;

    @include mobile {
        grid-template-columns: repeat(1, 1fr);
    }
    
    @include tablet-only {
        grid-template-columns: repeat(2, 1fr);
    }
    
    @include desktop-only {
        grid-template-columns: repeat(2, 1fr);
    }
    
    @include widescreen-only {
        grid-template-columns: repeat(3, 1fr);
    }
    
    @include fullhd {
        grid-template-columns: repeat(3, 1fr);
    }
}
