<div class="card">
  <header class="card-header">
    <p class="card-header-title">Date</p>
  </header>
  <div class="card-content">
    <button class="button show-btn is-large">+</button>
    <div class="is-hidden">
      <div class="field is-horizontal">
        <div class="field-label is-normal">
          <label class="label">From</label>
        </div>
        <div class="field-body">
          <div class="field">
            <p class="control">
              <input class="input" type="time" value="09:00" pattern="[0-9]{2}:[0-9]{2}">
            </p>
          </div>
        </div>
      </div>
      <div class="field is-horizontal">
        <div class="field-label is-normal">
          <label class="label">To</label>
        </div>
        <div class="field-body">
          <div class="field">
            <p class="control">
              <input class="input" type="time" value="17:00" pattern="[0-9]{2}:[0-9]{2}">
            </p>
          </div>
        </div>
      </div>
      <div class="field is-horizontal">
        <div class="field-label is-normal">
          <label class="label">Break</label>
        </div>
        <div class="field-body">
          <div class="field">
            <p class="control">
              <input class="input" type="text" placeholder="00:00h" pattern="[0-9]{2}:[0-9]{2}">
            </p>
          </div>
        </div>
      </div>
      <div class="field is-horizontal">
        <div class="field-label is-normal">
          <label class="label">Total</label>
        </div>
        <div class="field-body">
          <div class="field">
            <p class="control">
              <input class="input is-static" type="text" value="=> 0:00h" readonly>
            </p>
          </div>
        </div>
      </div>
      <div class="field is-horizontal">
        <div class="field-label is-normal">
          <label class="label">Travel</label>
        </div>
        <div class="field-body">
          <div class="field">
            <p class="control">
              <input class="input" type="text" placeholder="00:00h" pattern="[0-9]{2}:[0-9]{2}">
            </p>
          </div>
        </div>
      </div>
      <div class="field">
        <div class="control">
          <div class="select">
            <select>
              <option>No allowance</option>
              <option>12€ (>8h)</option>
              <option>24€ (>24h)</option>
              <option>16€ (>8h & >3 months)</option>
              <option>32€ (>24h & >3 months)</option>
            </select>
          </div>
        </div>
      </div>
      <div class="field">
        <div class="control">
          <input class="input" type="text" placeholder="Location">
        </div>
      </div>
      <div class="field">
        <div class="control">
          <label class="checkbox">
            <input type="checkbox">Remote</label>
        </div>
      </div>
    </div>
  </div>
  <footer class="card-footer is-hidden">
    <a href="#" class="card-footer-item">Save</a>
    <a href="#" class="card-footer-item">Edit</a>
    <a href="#" class="card-footer-item">Delete</a>
  </footer>
</div>
