<div class="card">
  <header class="card-header">
    <p class="card-header-title">
      Date
    </p>
  </header>
  <div class="card-content">
    <button class="button show-btn is-large">+</button>
    <div class="content is-hidden">
      <div class="columns">
        <div class="column">
          <div class="control">
            <input class="input" type="text" placeholder="Von">
          </div>
        </div>
        <div class="column">
          <div class="control">
            <input class="input" type="text" placeholder="Bis">  
          </div>
        </div>
        <div class="column">
          <div class="control">
            <input class="input" type="text" placeholder="Pause">  
          </div>
        </div>
        <div class="column">
          <div class="control">
            <label class="label">=> 0:00h</label>
          </div>
        </div>
      </div>
      <div class="columns">
        <div class="column">
          <div class="control">
            <input class="input" type="text" placeholder="Travel time">
          </div>
        </div>
        <div class="column">
          <div class="control">
            <div class="select">
              <select>
                <option>No allowance</option>
                <option>12€ (>8h)</option>
                <option>24€ (>24h)</option>
                <option>16€ (>8h & >3 months)</option>
                <option>32€ (>24h & >3 months)</option>
              </select>
            </div>
          </div>
        </div>
      </div>
      <div class="columns">
        <div class="column">
          <div class="control">
            <input class="input" type="text" placeholder="Location - Project">
          </div>
        </div>
        <div class="column">
          <div class="control">
            <label class="checkbox">
              <input type="checkbox">
              Remote
            </label>
          </div>
        </div>
      </div>
    </div>
  </div>
  <footer class="card-footer is-hidden">
    <a href="#" class="card-footer-item">Save</a>
    <a href="#" class="card-footer-item">Edit</a>
    <a href="#" class="card-footer-item">Delete</a>
  </footer>
</div>
  